td,th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
    color: #fff;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .9rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #01796F;
    opacity: 0.9;
}

td {
    text-align: center;

}

th[scope="col"] {
    background-color: #0cf50c;
    color: #fff;
}

p{
    text-align: center;
    font-family: "Great Vibers,cursive";
    text-shadow: 1px 1px 1px #0cf50c,
                1px 2px 2px rgb(250, 233, 0);
    color: #d0f0c0;
    font-size: 1.5rem;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 11rem;
    border-radius:50%
}

body{
    background: url("/Media/backgroundPic.jpg") no-repeat center fixed ;
    background-size: cover;
}